# create an Authy Application in the console: https://www.twilio.com/console/authy/applications
export DEMO_AUTHY_API_KEY='YOUR KEY HERE'

# create a Verify service in the console: https://www.twilio.com/console/verify/services
export VERIFY_SERVICE_SID=''

# find your credentials in the console: https://www.twilio.com/console
export DEMO_TWILIO_ACCOUNT_SID=''
export DEMO_TWILIO_AUTH_TOKEN=''
