<ul>
    <li><a href="https://www.twilio.com/docs/authy">Authy Docs</a></li>
    <li><a href="https://www.twilio.com/docs/verify">Verify Docs</a></li>
    <li><a href="https://www.twilio.com/docs/lookup">Lookup Docs</a></li>
    <li><a href="https://www.twilio.com/docs/libraries/python">Twilio (Verify + Lookup) Python helper library</a></li>
    <li><a href="https://github.com/twilio/authy-python">Authy Python helper library</a></li>
    <li><a href="https://github.com/robinske/account-security-python-demo">GitHub for this demo</a></li>
</ul>
