{% extends "base.html" %}
{% block content %}
<div>
    <form method="POST" id="lookup-form" action="/verification/" style="margin-bottom: 30px;">
        {{ lookup_form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    {{ lookup_form.country_code(id="country_code", placeholder="Country Code", class_="form-control") }}
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <div class="form-group">
                    {{ lookup_form.phone_number(id="phone_number", placeholder="Phone #", class_="form-control") }}
                </div>
            </div>
        </div>
        {% if lookup_data %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h5>Lookup Information</h5>
                <pre>{{lookup_data | tojson(indent=4) }}</pre>
                <p>Lookup allows you to determine if a user is signing up with a mobile number.  You may want to prevent users from registering from certain kinds of phones.</p>
            </div>
        </div>
        {% endif %}
        <input type="submit" 
                value="Lookup Registration Number"
                class="btn btn-info btn-block">
    </form>
</div>
<div>
    <form method="POST" action="/verification/start">
        {{ verify_form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    {{ verify_form.country_code(id="country_code", placeholder="Country Code", class_="form-control") }}
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <div class="form-group">
                    {{ verify_form.phone_number(id="phone_number", placeholder="Phone #", class_="form-control") }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    {{ verify_form.channel(id="channel", class_="form-control") }}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    {{ verify_form.locale(id="locale", class_="form-control") }}
                </div>
            </div>
        </div>
        
        <input type="submit" 
                value="Request Verification"
                class="btn btn-info btn-block">
    </form>
</div>
{% endblock %} 